<template lang="pug">
  div.sigma.about
    div.ui.stackable.container
      div.sigma.about.head.centered
        h1 About
        p.subtitle What is Sigma and does she want to enslave humanity?
      div.ui.inverted.segment
        p Every projects needs a nice and well thought-out start, right?
        div.ui.segment.inverted.stacked.quote
          | "Alex, weren't you working on a bag of shite?"
          div.quote.author -- Rhys "Himi" McKenzie
        div.sigma.about.head.image
          p
          | And #[span.highlight Himi] was goddamn right. Because Sigma was made as a rivalry project.
          | (See #[a.fake.link(v-on:click="toggleImage()") #[span.highlight.underlined image]] for details.)
          div.ui.segment.centered.inverted(v-if="showRage")
            img.ui.centered.image(src="https://i.redd.it/xpdr6rslyer21.png")
      div.sigma.about.head.centered
        h2 Purpose
        p.subtitle So what does she do?
      div.ui.segment.inverted
        div.ui.segment.inverted
          h3 TL;DR
          p
          | Sigma's purpose is to connect to as many data endpoints and serve as much data as possible.
          | Our target audience is really broad, in short, everyone that uses discord.
          | Then we expanded from serving lots of information, to just plain doing everything.
          | Moderation, music, images, lewd queries, automated tasks, mini-games, collections, gacha games, etc.
          | And we're not stopping. At #[span.highlight 450+ commands] those are rookie numbers and they need to be pumped up.
      div.sigma.about.head.centered
        h2 Features
        p.subtitle You know, our selling points!
      div.ui.segment.inverted
        div.ui.segment.inverted
          h3 Fun
          p
          | Yes this is a very broad and general section, but it's for things that aren't functional and productive.
          | Those that are here just to give you a giggle and brighten up your day.
          | You can grab a #[span.highlight joke] or maybe a #[span.highlight pun] if you like cancer.
          | Maybe you're a developer and would enjoy some #[span.highlight CSS humor] or want to #[span.highlight shoot your foot].
          | #[span.highlight Cat facts]? #[span.highlight Dog facts]? We've got those too, and #[span.highlight images] of them!
          | Text modification is in this category as well when you just want to #[span.highlight 5p34k l337] or just in #[span.highlight reverse].
        div.ui.segment.inverted
          h3 Games
          p
          | Discord's target audience are #[span.highlight gamers] which means that's (nearly) our entire userbase.
          | As such, Sigma provides information for a lot of #[span.highlight game] related content.
          | For games such as #[span.highlight Azur Lane] and #[span.highlight Warframe].
        div.ui.segment.inverted
          h3 Help
          p
          | The help module group is dedicated to providing information on how to use Sigma and her features.
          | General help, command usage examples and descriptions, module listing and command listing within a chosen module.
          | It also shows the project's #[span.highlight repository] URL and #[span.highlight license].
        div.ui.segment.inverted
          h3 Interactions
          p
          | Interactions are commands that are meant to help your community interact, get closer, have fun and mess around.
          | Most provide a gif for the interaction you choose,
          | like #[span.highlight poking] someone, #[span.highlight shooting] them, even #[span.highlight licking] them.
          | People really love these for some reason, so there are a lot,
          | not to mention you can add your own to our large database and contribute with the #[span.highlight addinteraction] command!
        div.ui.segment.inverted
          h3 Mathematics
          p
          | Okay so Sigma is a bot that boasts knowledge and statistical capabilities, right?
          | Of course we'd have a module dedicated to mathematical operations that are fascinating.
          | This module has the #[span.highlight Wolfram Alpha] command,
          | user #[span.highlight impersonation] using Markov chains,
          | and #[span.highlight hashing] of inputted data with a large number of methods.
          | There's also #[span.highlight fernet encryption] and #[span.highlight decryption] using Sigma's own key.
        div.ui.segment.inverted
          h3 Miscellaneous
          p
          | Unfortunately we can't really describe this module group. It's functions that we couldn't sort into any of the other modules.
          | Marking yourself as #[span.highlight AFK], making #[span.highlight polls] and #[span.highlight reminders],
          | even getting HTTP status code information.
        div.ui.segment.inverted
          h3 Moderation
          p
          | #[span.highlight Kicking], #[span.highlight banning], #[span.highlight muting], #[span.highlight purging] text,
          | #[span.highlight warning] people for stuff, everything a fellow moderator would need to keep the peace
          | of their community. Moderator commands are logged to a desired #[span.highlight logging] channel if it's set
          | up, you should refer to the settings category for that.
        div.ui.segment.inverted
          h3 Music
          p
          | Ah, everyone's favorite feature for any Discord bot. Playing #[span.highlight music].
          | Sigma uses #[span.highlight YTDL] to grab her data, which allows her to
          | support #[span.highlight over 1040 websites/sources]. It's music, really nothing more, but with a lot of compatibility.
        div.ui.segment.inverted
          h3 NSFW
          p
          | #[span.highlight ( ͡° ͜ʖ ͡°)] ...Do you really need an explanation for this module group?
          | #[span.highlight Lewd] commands of various types, only allowed in channels
          | marked as #[span.highlight NSFW] by Discord's internal channel settings toggle.
        div.ui.segment.inverted
          h3 Nihongo
          p
          | We have users that love #[span.highlight Japanese], and learning japanese.
          | So we have some commands that help them with that such as #[span.highlight jisho]
          | to look up words and a command to show off their #[span.highlight Wanikani] statistics to the all-mighty Crabigator!
        div.ui.segment.inverted
          h3 Permissions
          p
          | Sigma has an internal #[span.highlight permission] system that is server bound.
          | You can #[span.highlight disable] commands and modules and keep them from being
          | used, as well as make #[span.highlight overrides] for those that are disabled so a specific
          | #[span.highlight channel], #[span.highlight role] or #[span.highlight user]
          | can access them. One thing to note is, users with the #[span.highlight Administrator] permission override
          | permissions set by this command. As a safeguard so they don't lock themselves out.
        div.ui.segment.inverted
          h3 Roles
          p
          | The roles module allows you to control the role that is #[span.highlight automatically assigned] to newly joining members.
          | And make roles #[span.highlight self assignable] if you need those for purposes such as verification to access the server.
        div.ui.segment.inverted
          h3 Searches
          p
          | Our pride and joy, the module group capable of searching for anything you'd like and want, from #[span.highlight reddit] subreddits to curry
          | #[span.highlight recipes], #[span.highlight movies], #[span.highlight songs], #[span.highlight anime], #[span.highlight manga],
          | really whatever you want. Check out the full command list to know everything this module group has to offer.
        div.ui.segment.inverted
          h3 Settings
          p
          | Continuing the part of #[span.highlight server moderation], these commands allow you to set specific things regarding your server such as name
          | criteria, #[span.highlight custom commands], word and invite #[span.highlight filters],
          | #[span.highlight greeting] and #[span.highlight goodbye] message controls,
          | the #[span.highlight logging] channel for moderation commands, the bot's #[span.highlight prefix] (yes that's changeable) and
          | if the tables should be automatically #[span.highlight unflipped], our personal favorite.
        div.ui.segment.inverted
          h3 Statistics
          p
          | Sigma has an internal #[span.highlight currency] and #[span.highlight experience] system,
          | with these you can see how much #[span.highlight Kud] or #[span.highlight XP] someone has, including their
          | #[span.highlight profile], and #[span.highlight leaderboards] for Kud and XP.
        div.ui.segment.inverted
          h3 Utility
          p
          | Various commands for showing #[span.highlight information] about Discord objects,
          | such as #[span.highlight servers], #[span.highlight users], #[span.highlight channels], #[span.highlight roles],
          | #[span.highlight population] statistics, #[span.highlight gaming] statistics,
          | #[span.highlight avatars] and server #[span.highlight icons],
          | #[span.highlight IDs] for objects, and the #[span.highlight tech stats] about the
          | bot and it's machine, if you're interested in that as well.
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class JavelinLanding extends Vue {
  showRage = false
  toggleImage () {
    this.showRage = !this.showRage
  }
}
</script>

<style lang="stylus" scoped>
accent = #1abc9c

.quote
  font-style: italic
  font-weight: 700
  & .author
    font-style: normal
    font-weight: 400
    margin-left: 1rem

.highlight
  color: accent
  &.underlined
    text-decoration: underline;

.ui.rounded.image
  display: unset

.fake.link
  cursor: pointer
</style>
