<template lang="pug">
  div.sigma.commands
    div.ui.stackable.container
      div.sigma.commands.header.centered
        h1 Commands
        p.subtitle Everything that Sigma can do, in a pretty list.
      div.ui.container.segment.inverted
        div.sigma.commands.controls.ui.menu.inverted.stackable.grid
          div.sigma.commands.search
            div.ui.icon.input.inverted
              input(v-model="search" v-on:keyup="delayRefresh" type="text" placeholder="Search...")
              i.search.link.icon(v-on:click="refreshCommands")
          div.sigma.commands.controls.right
            div.ui.toggle.checkbox.inverted
              input(v-model="showNSFW" type="checkbox" name="nsfw")
              label Over 18
            div.ui.toggle.checkbox.inverted
              input(v-model="showAdmin" type="checkbox" name="admin")
              label Self-Host
      div.ui.container.segment.inverted
        | #[i.info.icon] Try the search bar above. Nothing showing up? Try the self-host and NSFW toggles on the right.
      div.ui.container.segment.inverted(v-if="loading")
        div.ui.active.inline.text.loader.inverted.centered.sigma-stats-loader(v-if="loading") Loading...
      div.ui.container.segment.inverted(v-else-if="errored")
        | #[i.warning.icon] Failed to get commands...
      div.ui.container.segment.inverted(v-else-if="modules.length === 0")
        | #[i.search.icon] No results...
      div.ui.container.segment.inverted(v-else)
        module(
          v-for="mdl in modules"
          :key="mdl.name"
          :name="mdl.name"
          :commands="mdl.commands"
          :showNSFW="showNSFW"
          :showAdmin="showAdmin"
          :empty="mdl.empty"
        )
</template>

<script lang="ts">
import 'semantic-ui-css/components/input.min.css'
import 'semantic-ui-css/components/checkbox.min.css'

import Module from '@/comps/Module.vue'
import { Component, Vue } from 'vue-property-decorator'

import LuciaGQLCore from '@/data/gql'

interface CommandGQLResponse {
  name: string,
  alternativeNames: string[],
  admin: boolean,
  usage: string,
  nsfw: boolean,
  description: string
}

interface ModuleGQLResponse {
  name: string,
  commands: CommandGQLResponse[]
}

const gql = new LuciaGQLCore()

function updateCommands (ctx: SigmaCommands) {
  const searchTerm = ctx.search || ''
  const queryVariables = { searchTerm }

  const qry = `query CategorizedCommands($searchTerm: String) {
    sigma {
      commandCategories {
        name
        commands(nsfw: INCLUDE, regex: $searchTerm) {
          ...commandItems
        }
      }
    }
  }

  fragment commandItems on Command {
    name
    alternativeNames
    admin
    usage
    nsfw
    description
  }`

  ctx.lastSearch = ctx.search
  ctx.loading = true
  const req = gql.request(qry, queryVariables)
  req.then((data: any) => {
    ctx.modules = [] as ModuleGQLResponse[]
    data.sigma.commandCategories.forEach((element: ModuleGQLResponse) => {
      if (element.commands.length > 0) {
        ctx.modules.push(element)
      }
    })
    ctx.loading = false
    ctx.errored = false
  })
  req.catch(() => {
    ctx.loading = false
    ctx.errored = true
  })
}

@Component({ components: { Module } })
export default class SigmaCommands extends Vue {
  loading = true
  errored = false
  delayTimer: number = 0
  modules: ModuleGQLResponse[] = []
  showNSFW: boolean = false
  showAdmin: boolean = false
  search: string = ''
  lastSearch: string = ''
  mounted () {
    updateCommands(this)
  }
  refreshCommands () {
    if (this.search !== this.lastSearch) {
      updateCommands(this)
    }
  }
  delayRefresh () {
    this.delayTimer = 0
    clearTimeout(this.delayTimer)
    this.delayTimer = setTimeout(() => {
      this.refreshCommands()
    }, 1000)
  }
}
</script>

<style lang="stylus" scoped>
accent = #1abc9c
whiteish = rgba(255, 255, 255, 0.9)

.ui.input.inverted
  color: whiteish
  & input
    color: whiteish
    background: #1b1c1d
    border: 1px solid whiteish
.sigma.commands.controls.right
  margin-left auto
  & > .ui.checkbox
    margin: 1rem 0.5rem 0 0.5rem
    & label
      color whiteish
      &::before
        border: 1px solid whiteish
    & input
      &:checked
        & ~ label
          color: whiteish !important
          &::before
            background-color: accent !important
@media only screen and (max-device-width : 720px)
  .sigma.commands
    & .search
      .input
        width: 100%
    & .controls.right
        margin-left unset
        .ui.slider.checkbox.inverted
          width: 50%
          margin: 2rem 0 0 0
</style>
