<template lang="pug">
  div.lc-donor.three.wide.column
    div.ui.segment.inverted.stacked(:style="'color: ' + colors[colors.length - 1] + ';'")
      img.ui.image.tiny.donor.avatar(:src="avatar")
      p.donor.name
        | {{name}}
      div.donor.strip(:style="'background: linear-gradient(160deg, ' + colors + ' 75%);'")
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

import 'semantic-ui-css/components/segment.min.css'
import 'semantic-ui-css/components/grid.min.css'

interface TierColor {
  [index: number]: string[]
}

const tierColors: TierColor = {
  0: ['#404040', '#4d4d4d', '#ffffff', '#666666'],
  1: ['#a674be', '#b286c6', '#d375ff', '#c3a1d3'],
  2: ['#237651', '#29895e', '#00cc00', '#31a36f'],
  3: ['#cdb632', '#d2bd46', '#ff6600', '#d9c660'],
  4: ['#2cc9ed', '#43cfef', '#3333ff', '#5ed6f1'],
  5: ['#815e18', '#976e1c', '#ffff00', '#bf8b23'],
  6: ['#3c1127', '#501634', '#ff0000', '#671d43']
}

@Component
export default class LCDonor extends Vue {
  @Prop(String) readonly name!: string
  @Prop(String) readonly avatar!: string
  @Prop(Number) readonly tier!: number
  colors: String[] = tierColors[this.tier]
}
</script>

<style lang="stylus" scoped>
.donor.strip
  height 2px
.lc-donor > .ui.segment
  transition: box-shadow 0.1s ease-in-out
  -o-transition: 0.1s
  -ms-transition: 0.1s
  -moz-transition: 0.1s
  -webkit-transition: 0.1s
  transition: 0.1s
  &:hover
    box-shadow: 0 0 3px
  & .donor.name
    margin: 0.25rem
    color: rgba(255, 255, 255, 0.9)
</style>
