<template lang="pug">
  div#lc-tail.animated.fadeIn
    div.ui.centered
      div.tail-left
        h4
          | © Lucia's Cipher:
          |  The place where #[span.axa robots], #[span.awak foxes], #[span.shif smores] and #[span.vlth tomatoes] are worshiped.
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import 'semantic-ui-css/components/container.min.css'
import 'semantic-ui-css/components/segment.min.css'
import 'animate.css/source/fading_entrances/fadeIn.css'

@Component
export default class LCTail extends Vue {}
</script>

<style lang="stylus" scoped>
#lc-tail
  padding: 0.2rem 0
  background: rgba(26, 27, 28, 1)
  display: block
  overflow: hidden

#lc-tail h4
  padding: 0 2rem

.axa
  color: #1abc9c

.awak
  color: #FF1A00

.shif
  color: #AC8760

.vlth
  color: #F67400
</style>
